@font-face {
    font-family: 'DM Sans';
    src: url(src/DM\ Sans.ttf) format("truetype");
}

@font-face {
    font-family: 'DM Sans Bold';
    src: url(src/DM\ Sans\ Bold.ttf) format("truetype");
}

* {
    user-select: none;
    font-family: 'DM Sans';
    cursor: url(src/pointer.cur), default;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

.loader-sect {
    background-color: #0A0A0A;
    display: none;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    99% {
        transform: translateX(100%);
    }
    100% {
        display: none;
    }
}

@keyframes slideIn {
    0% {
        display: block;
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.main {
    display: block;
}

body {
    width: 1200px;
    max-width: 1200px;
    height: 650px;
    max-width: 650px;
    background-color: red;
}

.nav-link {
    color: white;
    letter-spacing: 5px;
}

.nav-link:hover {
    color: #666666;
    cursor: url(src/link.cur), pointer;
    transition: 0.3s;
}

.nav-icon {
    padding-top: 5px;
    height: 24px;
    width: 24px;
    transition: 0.3s;
    margin-left: -15px;
}

.nav-icon:hover {
    cursor: url(src/link.cur), pointer;
    filter: invert(65%);
    transition: 0.3s;
}

a {
    text-decoration: none;
}

nav {
    background-color: #0A0A0A;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    max-width: 1200px;
    height: 50px;
    max-height: 50px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
}

.nav-logo-img {
    height: 35px;
    aspect-ratio: 1;
}

.nav-logo-title {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 5px;
    background: linear-gradient(90deg, #ff00dc, #006eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.nav-link-wrapper {
    display: flex;
    align-items: center;
    gap: 35px;
    padding-right: 15px;
}

#selected_link {
    background: linear-gradient(90deg, #ff00dc, #006eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 900;
}

.content {
    display: flex;
    justify-content: start;
    width: 1200px;
    max-width: 1200px;
    height: 520px;
    max-height: 520px;
}

.version-radio {
    display: none;
}

.sidebar {
    background-color: #0F0F0F;
    padding: 20px;
    width: 280px;
    max-width: 280px;
    height: 480px;
    max-height: 480px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sidebar-item {
    display: grid;
    place-items: center;
    background-color: #0A0A0A;
    color: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    width: 260px;
    height: 60px;
    border-radius: 16px;
}

body:has(#version1:checked) #version1-item {
    background: linear-gradient(90deg, #1E0F1E, #0F0F1E);
    transition: 0.3s;
}

body:has(#version2:checked) #version2-item {
    background: linear-gradient(90deg, #1E0F1E, #0F0F1E);
    transition: 0.3s;
}

body:has(#version3:checked) #version3-item {
    background: linear-gradient(90deg, #1E0F1E, #0F0F1E);
    transition: 0.3s;
}

.sidebar-item-version {
    font-size: 20px;
    letter-spacing: 5px;
}

#selected-version {
    background: linear-gradient(90deg, #1E0F1E, #0F0F1E);
}

#selected-version-text {
    background: linear-gradient(90deg, #ff00dc, #006eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 900;
}

.main-content-window {
    background-color: #191919;
    width: 900px;
    max-width: 900px;
    height: 520px;
    max-height: 520px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A0A0A;
    width: 1150px;
    height: 60px;
    padding: 10px 25px;
}

.version-selector {
    font-size: 18px;
    color: white;
    outline: none;
    width: 260px;
    height: 45px;
    border: none;
    background-color: transparent;
    transition: 0.3s;
}

.version-selector:hover {
    color: #666666;
    transition: 0.3s;
}

option {
    color: white;
    background-color: #191919;
}

.button {
    font-family: 'DM Sans Bold';
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    width: 200px;
    height: 48px;
    display: grid;
    place-items: center;
    letter-spacing: 5px;
    background: linear-gradient(90deg, #ff00dc, #006eff);
    border: none;
    border-radius: 50px;
    gap: 10px;
    transition: 0.5s;
}

.button:hover {
    color: #0A0A0A;
    transition: 0.5s;
}